* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

  .cell {
    height: 20px;
    width: 20px;
    border: 1px groove rgba(255, 255, 255, 0.7);
  }
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;

  div {
    width: 20px;
    height: 20px;
  }
}
